*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background: url(./bacg\ 1.png);
    width: 100%;
    height: 100vh;
}


.container{
    max-width: 1000px;
    width: 100%;
    height: 500px;
    align-items: center;
    margin: auto;
    background: #ffffff;
    border-radius: 20px;
    position: relative;
    top: 90px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__content{
    flex-direction: column;
    margin:0 50px;
}

.card__content ul,a{
    display: flex;
    text-decoration: none;
    list-style: none;
    column-gap: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #1345F9;
}

.card__content h2{
    color: #1345F9;
}


.card__about h3, span{
    color: #1345F9;
    font-size: 25px;
}

.card__about h1{
    max-width: 315px;
    width: 100%;
    line-height: 30px;
}


.card__about p{
    width: 316px;
    height: 180px;
    line-height: 24px;
}

.card__about button{
    width: 316px;
    background: #1345F9;
    border:none;
    border-radius: 32px;
    height: 60px;   
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}