*{
    margin: 0;
    padding: 0;
}

.main{
    margin:45px 0;
}

.main__content{
    margin:0 100px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

.main__status{
    width: 220px;
    height: 150px;
    background: #f3bc70;
    text-align: center;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.main__info h1,p{
    color: #7C501B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__info button{
    width: 200px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px auto; 
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid #7C501B ;
    color: #7C501B;
}

.main__info button:hover{
    background: #7C501B;
    color: #fff;
}